{% extends "common/root.html" %}
{% block head %}
    <style>
        div {
            width: 1500px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body1 %}
    <div class="card">
        <div class="card-header bg-light">登录</div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
{% endblock %}